<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637111112587-btgfrlmcajrfn3vihtvmsean7v9frdnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637111112587-btgfrlmcajrfn3vihtvmsean7v9frdnk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>637111112587-usqvmone815gofvkb4cme7qnhesj1mh7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD39-i5XzAcDvBnd2iM9AyHRc00xFtI_L0</string>
	<key>GCM_SENDER_ID</key>
	<string>637111112587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vantinviet.banhangonlineapp</string>
	<key>PROJECT_ID</key>
	<string>calling-vantinvit</string>
	<key>STORAGE_BUCKET</key>
	<string>calling-vantinvit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637111112587:ios:f5dec4b13f35ff38f1158e</string>
	<key>DATABASE_URL</key>
	<string>https://calling-vantinvit.firebaseio.com</string>
</dict>
</plist>